.nav{
    display: flex;
    align-items: center;
    height: 111.17px;
    margin: 20px auto;
    gap: 20px;
    border: 1.31px solid #EAEAEA;
    border-radius: 107.06px;
    padding: 16.97px 20.89px;
}

.nav div:first-child{
    margin-right: auto;
}